<div class="page-header">
	<h1>Nuevo Partida : </h1>	
</div>


<%= render 'form' %>

<div class="form-actions">
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), listas_path, :class => "btn btn-primary" %>	
</div>

