<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @listacategoria.nombre %>
</p>



<%= link_to 'Edit', edit_listacategoria_path(@listacategoria) %> |
<%= link_to 'Back', listacategorias_path %>
