<ul class="breadcrumb">
  <li><i class="icon-home"></i> <%= link_to "Parte Obra", root_path %> <span>/</span></li>  
  <li class="active">Editar</li>
</ul>

<div class="page-header">
	<h1>Editar Parteobra</h1>
</div>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to raw('<i class="icon-eye-open icon-white"></i> Ver'), @parteobra, :class => "btn btn-primary" %>
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), parteobras_path, :class => "btn btn-primary" %>	
</div>

