<% @partidasdecontrols.each do |partidasdecontrol| %>	
<option value="<%= partidasdecontrol.id %>"><%= "#{partidasdecontrol.fase.codigo}#{partidasdecontrol.subfase.codigo} #{partidasdecontrol.subfase.descripcion}" %></option>
<% end %>
