<div class="page-header">
	<h1>Nuevo Sub Sector</h1>
</div>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i> Regresar'), subsectores_path, :class => "btn btn-primary" %>	
</div>

